/* links */

a {
  color: #E13D3D;
  cursor: pointer;
}

a:active, 
a:focus, 
a:hover {
  color: #d03b39;
}

/* nav */

.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus,
.navbar-light .navbar-nav>.nav-item>.nav-link:hover,
.navbar-light .navbar-nav>.nav-item>.nav-link:active {
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-light .navbar-nav > li.nav-item > a.active, 
.navbar-light .navbar-nav > li.nav-item > a.active:focus, 
.navbar-light .navbar-nav > li.nav-item > a.active:hover {
  font-weight: 700;
  transition: color .2s ease;
}

.navbar-light {
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.navbar-nav {
  border-bottom: 2px solid #E13D3D;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .08em;
}

.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover {
  color: #d03b39;
}

